<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_QLHANGHOA.Properties.Settings.DoAn_QLHANGHOAConnectionString"
            connectionString="Data Source=LAPTOP-IR7RN1J2\MSSQLSERVER01;Initial Catalog=DoAn_QLHANGHOA;User ID=sa;Password=11015208"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>